*.class

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/
build/
dist/
out/
!gradle-wrapper.jar

#Eclipse files
**/.project
**/.classpath
**/.settings/

#IntelliJ files
**/*.iml
**/.idea
**/.gradle